@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron transparent">
    <h1 style="text-align: center">BankForFunzies</h1>
    <p class="lead" style="text-align: center">Is your credit too bad to get a real bank account?  Come to BankForFunzies!  We don't even ask you your name!  
                    Just type in an account number and a PIN and away you go!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="centered">Log In To Your Account</h2>
        <p style="text-align: center">
            Using your Account Number and PIN Number, log in to your account to make deposits, withdrawals, and/or changes to your account!
        </p>
        <p class="centered"><a class="btn btn-default" href="/Account/Index">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center">Create An Account</h2>
        <p style="text-align: center">Click the button below to create your new BankForFunzies banking account!  With a low 15% fee per transaction and soon-to-come&copy; free
        ATM access, the time could never be better to join the BankForFunzies family!</p>
        <p style="text-align: center"><a class="btn btn-default" href="/Account/Create">Sign Up! &raquo;</a></p>
    </div>
</div>